.top, .bottom{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    gap: 10px
}

.right{
    display: flex;
    gap: 20px;
}

.middle{
    display: flex;
    justify-content: space-evenly;
}

.bottom-right{
   display: flex;
 justify-content: space-between;
 gap: 10px;
}