#form-one, #form-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
   background: '#f4f6f8';
   padding: 20px;
   border-radius: 10px;
   width: 65%;
   max-width: 400px
}
