#form-one, #form-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.form-container{
   background: '#f4f6f8';
   padding: 20px;
   border-radius: 10px;
   width: 85%;
   max-width: 500px
}

label{
    font-weight: 500;
}