#form-one, #form-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.form-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   border-radius: 10px;
}

label{
    font-weight: 500;
}